html{
    background: #ffffff;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("");
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: tahoma;
}
p{
    font-size: 13.5px;
    line-height: 25px;
}
h1{
    font-size: 100px;
}
#pixa{
    padding: 15px;
    opacity: 20%;
    float: left;
    height: 60%;
    width: 40%;
    text-align: center;
}
hr{
    width: 70%;
    margin-top: 40px;
    font-size: 10px;
}
button{
    background: #090;
    width: 30%;
    margin-top: 20px;
    border: thin solid #090;
    border-radius: 10px;
}

#links img{
    margin-top: 10px;
}
#img1{
    margin-top: 180;
    border-radius: 40%;
    border: 1px groove #ffffff;
}
.Ubyjude{
    width: 55%;
    float: right;
    height: 100%;
    color: #ffffff;
    border-left: thin solid #000;
}
#main{
    height: 80%;
    margin: 10px;
    text-align: center;
}
#main h1{
    text-shadow: 3px 3px 14px #6a7;
}
