/* Box Sizing border box */
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	margin: 0;
	background:#eee; 
}

h3{
	margin: 5px;
}

p{
	margin: 2px;
}

li{
	list-style: none;
}

/* Container */

.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

header{
	display: flex;
	align-items: center;
	background: white;
	height: 50px;
}

.logo-text{
	font-weight: bold;
	padding-left: 20px;
}

.profile{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.profile-social ul{
	display: flex;
}

.profile-social ul li{
	padding: 5px;
}

.profile-social ul li a{
	text-decoration: none;
}

.profile-img{
	width: 200px;
    height: 200px;
    border-radius: 80%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.middle{
	padding: 30px;
	background: rgba(0,0,0,0.1);
	color: #fff;
}

.middle-left{
	width: 60%;
}

.middle p{
	font-size: 20px;
	line-height: 20px;
	margin: 10px 0px;
}

.info{
	width: 20%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background: rgba(0,0,0,0.1);
}

footer{
	padding: 10px;
	text-align: center;
}