@import url(css/station.css);


* {
    margin: 0;
    padding: 0px;

}
body {
    background: #f4f4f4;
    color: #303030;
    font-family:'Station Medium';
    font-size: 16px;
}


.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px solid #303030;
    margin-bottom: 30px;
}

/*------------------------------------------------------------------
    [Contact]
------------------------------------------------------------------*/
#contact {
  padding: 20px 0 0;
}

#contact .my-pic img{
  border-radius: 80px

}

#contact .my-bio {
  padding: 20px 150px 0;
  height: 800px;
  background: #df7834;
 
}

#contact .fa-icon1x {
  color: #303030;
}
#contact .fa-icon2x {
  color: #f4f4f4;
}
#contact .fa-icon3x {
  color: #303030;
  font-size: 22px;
}

#contact .my-bio p {
  color: #f4f4f4;
  line-height: 35px;
}

#contact h1 {
  color: #303030;
  font-size: 25px;
}
#contact .my-bio:before {
                    position: absolute;
                    content: "";
                    top: -20px;
                    left: -80px;
                    width: 150px;
                    height: 107%;
                    background:#f4f4f4 none repeat scroll 0% 0%;
                    transform: rotate(370deg);
}



#contact .my-details {
  margin-top: 20%;
}
/*------------------------------------------------------------------
    [Footer]
------------------------------------------------------------------*/
#footer .footer-socials {
  margin-top: 16px;
  text-align: right;
}
.footer-socials li a {
  color: #696869;
  font-size: 18px;
  text-decoration: none;
}
.footer-socials li a:hover {
  color: #df7834;
  
}